.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App>form{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.inputField {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 60%;
  height: 490px;
  margin: 15px; 
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.inputRow {
  display: flex;
  flex-direction: row;
  width: 86%;
  justify-content: space-between;
  margin-bottom: 15px;
}

.App .createButton{
  position: relative;
  left:255px;
  bottom:7px;
}

.inputRow > * {
  flex: 1; 
  margin-right: 10px; 
}

@media (max-width: 768px) {
  .inputField {
    width: 80%; 
  }
}
